.token_button{
    margin-right: 5vh;
    border: none;
    border-radius: 20px;
}
@media screen and (max-width: 471px) {
    .token_button{
       display: flex;
       justify-content:center;
       align-items: center;
       text-align: center;
    }
}