.token_card{
    width: 25vmin;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 1.5vmax;
    transition: all 0.5s ease;
    padding: 2vmax 2vmax;
    overflow: hidden;
    background-color: #390554;
    border-radius: 20px;
}
.type{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    padding-bottom: 1vh;
}
.pair_creation{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6vh;
}
.span_l{
    width: 50%;
}
.span_r{
    width: 50%;
}
.info_logo_container{
    display: flex;
    justify-content: end;
}
.info_logo{
    width: 8vh;
    height: 8vh;
    font-size: 5vh;
    background-color: pink;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tb{
    margin-top: 2.4vh ;
}
.bi{
    margin-top: 5vh;
}

@media screen and (max-width: 600px) {
    .token_card{
        width: 37vmin;
    }
}
@media screen and (max-width: 370px) {
    .token_card{
        width: 70vmin;
        padding: 4vmax 4vmax;
    }
}